node_modules/
.env
.env.*
.DS_Store
dist/
build/
coverage/
*.log
.vscode/
Backend/storage/
Frontend/node_modules
Backend/node_modules

# SSL Credentials for local development
Backend/server.cert
Backend/server.key
db
