# Server Configuration
PORT=4000
BACKEND_URL=https://localhost:4000

# Database Configuration
DB_URL=mongodb://username:password@localhost:27017/my-storage?authSource=admin

# Cache Configuration
REDIS_URL=redis://127.0.0.1:6379

# Client App configuration
CLIENT_URL=http://localhost:5173

# Security Configuration
SESSION_SECRET=vault-storageApp-123$

# Third-Party Integrations

# Google Auth / API Integration
GOOGLE_CLIENT_ID=621477951745-lmj5ogqo7fkmd9sv50t97dj11kdjffpa.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# GitHub OAuth Integration
GITHUB_CLIENT_ID=Ov23lizS9BOqZ4r4jQPZ
GITHUB_CLIENT_SECRET=e0bb8b004b802d048a1f8f66eaa102fd18eb7dac

# App Policies
MAX_DEVICES_LIMIT=3
